- planet = resources
#{t(:metal)}:
= planet.metal.to_i
+ #{planet.metal_income}
%br
#{t(:silicon)}:
= planet.silicon.to_i
+ #{planet.silicon_income}
%br
#{t(:plutonium)}:
= planet.plutonium.to_i
+ #{planet.plutonium_income}
%br
#{t(:population)}:
= planet.population.to_i
+ #{planet.population_income}
%br
